*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:  Roboto Condensed, Helvetica, sans-serif;
}
 
/* Header section with navbar*/

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 1366px;
    height: 60px;
    background-color: #0076ff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}


.nav a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
}

.logo{
    display: flex;
    gap: 30px;
    align-items: center;
    cursor: pointer;
}
.logo h2{
    text-transform: uppercase;
    color: #0b0b12;
    text-shadow: 0px 0px 10px #0b0b12;

}
.nav_button a{
    text-decoration: none;
    padding: 10px;
    background-color: #0b0b12;
    color: white;
    border-radius: 25px;
    font-size: 14px;
}
.nav a:hover{
    color: #000;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}
.nav_button a:hover{
    box-shadow: 5px 6px 27px 3px #0b0b12;
    
}

/* Home section as lumora gate*/
.LumoraGate{
    width: 1366px;
    height: 594px;
    background-color: #0d1020;
}


.text{
  padding: 30px;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.7);
  text-align: center;
}



/* Lutrinats heros of tharquonix section*/

.Luntrians{
    width: 1366px;
    height: 840px;
    background-color: #101427;
}

.container1{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container1 a{
    text-decoration: none;
}
.lutrinantitle{
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    padding: 20px;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.7);
}
.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #1a2240;
    width: 300px;
    height: 350px;
    padding-top: 20px;
    border-radius: 5px;
}
.card img{
    margin-left: 50px;
}
.text1{
    text-align: center;
    padding-top:20px ;
    color: white;
    font-size: 18px;
}

.card:hover{
    transform: scale(0.9);
    box-shadow: 5px 6px 27px 3px #a64dff;
    transition: all 0.1s;
}


/* void realm destrutor of tharquonix */

.voidReamls{
    width: 1366px;
    height: 840px;
    background-color: #0b0b12;
}

.container2{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container2 a{
    text-decoration: none;
}
.voidrealmtitle{
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    padding: 20px;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.7);
}
.cardvoid{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #141423;
    width: 300px;
    height: 350px;
    padding-top: 20px;
    border-radius: 5px;
}
.cardvoid img{
    margin-left: 50px;
}
.text2{
    text-align: center;
    padding-top:20px ;
    color: white;
    font-size: 18px;
}

.cardvoid:hover{
    transform: scale(0.9);
    box-shadow: 5px 6px 27px 3px #a64dff;
    transition: all 0.1s;
}
