*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:  Roboto Condensed, Helvetica, sans-serif;
}
 
/* Header section with navbar*/

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1366px;
    height: 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}


.nav a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 15px;
}

.logo{
    display: flex;
    gap: 30px;
    align-items: center;
    cursor: pointer;
}
.logo h2{
    text-transform: uppercase;
}
.nav_button a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(146, 33, 52);
    color: white;
    border-radius: 25px;
    font-size: 14px;
}
.nav a:hover{
    color: rgb(146, 33, 52);
}
.nav_button a:hover{
    color: black;
}

/* Home section as lumora gate*/
.LumoraGate{
    width: 1366px;
    height: 594px;
    background-color: #fff;
}

.banner img{
    padding: 20px;
}
.text{
  margin-top: 30px;
  padding: 10px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  text-align: center;
}



/* */

.Luntrians{
    width: 1366px;
    height: 594px;
    background-color: #fff;
}

.container1{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.card{
    display: flex;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 300px;
    height: 350px;
    padding-top: 20px;
}